name: Deploy to S3

#on:
  push:
    branches: [ main ]
    paths:
      - "Day13_CICD_GitHub_Actions/**"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Sync to S3
        run: |
          aws s3 sync Day13_CICD_GitHub_Actions s3://scott-static-site-demo --exclude ".github/*"
      
      - name: Verify uploaded objects
        run: |
          aws s3 ls s3://scott-static-site-demo --recursive --human-readable --summarize